.banner-container {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 600px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.small-Banner-container {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 10px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 80px;
}

.banner-child-container img {
  width: 400px;
  height: 400px;
  margin-right: 80px;
}

.banner-description p {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1rem;
  height: 80px;
  max-width: 360px;
}

.banner-title h1 {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner-content button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  background: linear-gradient(to right, #267871, #136a8a);
  border: none;
  outline: none;
  color: white;
  width: 150px;
  border-radius: 20px;
}


