.forget-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgb(231, 223, 233);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 50px;
}

.email-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.email-container input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  border: 1px solid #8c8c8c;
}

.email-container button {
  padding: 10px 20px;
  cursor: pointer;
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  background: linear-gradient(to right, #267871, #136a8a);
  border: none;
  outline: none;
  color: white;
  width: 150px;
  border-radius: 20px;
}

.otp-row {
  margin-right: 200px;
  font-weight: bolder;
  font-size: large;
  margin-top: 20px;
}

.otpContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.otpContainer input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  border: 1px solid #8c8c8c;
}

.otpContainer .verify-otp {
  padding: 10px 20px;
  cursor: pointer;
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  background: linear-gradient(to right, #267871, #136a8a);
  border: none;
  outline: none;
  color: white;
  width: 150px;
  border-radius: 20px;
}

.otpContainer .resend-otp {
  padding: 10px 20px;
  cursor: pointer;
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  background: linear-gradient(to right, #267871, #136a8a);
  border: none;
  outline: none;
  color: white;
  width: 170px;
  border-radius: 20px;
}

.password-row {
  font-weight: bolder;
  font-size: large;
  margin-top: 20px;
}

.password-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.password-container input {
  margin: 10px 0;
  padding: 10px;
  width: 150%;
  max-width: 300px;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  border: 1px solid #8c8c8c;
}

.password-container button {
  padding: 10px 20px;
  cursor: pointer;
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  background: linear-gradient(to right, #267871, #136a8a);
  border: none;
  outline: none;
  color: white;
  width: 150px;
  border-radius: 20px;
  margin-top: 10px;
}
