.headerParent-container {
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: white;
}

.headerChild {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logContainr {
  width: 100px;
}

.navLinks {
  display: flex;
  gap: 30px;
  margin-right: 50px;
}

.navLinks a {
  font-size: smaller;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}

.profileIcon {
  width: 20px;
  height: 20px;
  margin-top: -2px;
  cursor: pointer;
}

.userDataProfileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
  border: 2px solid rgb(51, 145, 140)
}
