.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin: auto;
  margin-top: 70px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(231, 223, 233);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  border: 1px solid #8c8c8c;
}

.login-container button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  background: linear-gradient(to right, #267871, #136a8a);
  border: none;
  outline: none;
  color: white;
  width: 150px;
  border-radius: 20px;
}

.forgetLink {
  color: #000000;
  text-decoration: none;
}

.forgetLink:hover {
  color: #134b70;
  text-decoration: underline;
}

.registerLink {
  color: black;
  text-decoration: none;
  margin-left: 10px;
}

.registerLink:hover {
  color: #134b70;
  text-decoration: underline;
}
