



.scrollbar-hide {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.categoryText-container {
  background-color: rgb(243, 243, 243);
  width: 150px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.616);
  transition: transform 0.3s ease-in-out;
  
}

.categoryText-container:hover {
  transform: scale(1.1);
}

.cat-title {
  font-size: 15px;
  text-align: center;
  padding: 10px;
}

.cat-discription {
  font-size: 13px;
  text-align: center;
  padding: 5px;
}
