
.scrollbar-hide {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.categoryText-container {
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.616);
  z-index: 1;
  overflow: hidden;
  padding: 10px;
}

.categoryText-container:hover {
  transform: scale(1.1);
}

.cat-title {
  font-size: 15px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.cat-discription {
  font-size: 12px;
  text-align: center;
  overflow: hidden;
}
