.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pagination button {
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
}

.pagination button:hover {
  background-color: #161515;
  color: white;
}

.pagination span {
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
}

.pagination .active {
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(34, 31, 31, 0.767);
}
