.main-row {
  background-color: white;
  height: 350px;
  display: flex;
  margin-top: 10px;
  width: 100%;
  overflow-x: auto;
}

.main-row::-webkit-scrollbar {
  display: none;
}


@media (max-width: 430px) {
  .main-row {
    width: 212%;
  }

  .flip-card {
    width: 80%;
    /* margin: 10px; */
  }
}
